In [2]:
# import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
data1 = pd.read_csv("raw_data/flightlist_201910.csv", index_col=None)
data2 = pd.read_csv("raw_data/flightlist_201911.csv", index_col=None)
data3 = pd.read_csv("raw_data/flightlist_201912.csv", index_col=None)
data4 = pd.read_csv("raw_data/flightlist_202001.csv", index_col=None)
data5 = pd.read_csv("raw_data/flightlist_202002.csv", index_col=None)
data6 = pd.read_csv("raw_data/flightlist_202003.csv", index_col=None)
data7 = pd.read_csv("raw_data/flightlist_202004.csv", index_col=None)
data8 = pd.read_csv("raw_data/flightlist_202005.csv", index_col=None)
data9 = pd.read_csv("raw_data/flightlist_202006.csv", index_col=None)
data10 = pd.read_csv("raw_data/flightlist_202007.csv", index_col=None)
data11 = pd.read_csv("raw_data/flightlist_202008.csv", index_col=None)
data12 = pd.read_csv("raw_data/flightlist_202009.csv", index_col=None)
data13 = pd.read_csv("raw_data/flightlist_202010.csv", index_col=None)
data14 = pd.read_csv("raw_data/flightlist_202011.csv", index_col=None)
data15 = pd.read_csv("raw_data/flightlist_202012.csv", index_col=None)

In [6]:
cleandata1 = data1[["origin", "destination", "day", "callsign"]]
cleanerdata1 = cleandata1.loc[(cleandata1["destination"] == "KMDW") | (cleandata1["destination"] == "KORD")]

In [7]:
cleanerdata1.head()

    origin destination                        day callsign
27    ZGSZ        KORD  2019-10-01 00:00:00+00:00   CHH705
132   LFPG        KORD  2019-10-01 00:00:00+00:00   AFR136
261   EDDF        KORD  2019-10-01 00:00:00+00:00   DLH432
293    NaN        KORD  2019-10-01 00:00:00+00:00   AZG788
325   EGLL        KORD  2019-10-01 00:00:00+00:00   BAW297

In [8]:
cleandata2 = data2[["origin", "destination", "day", "callsign"]]
cleanerdata2 = cleandata2.loc[(cleandata2["destination"] == "KMDW") | (cleandata2["destination"] == "KORD")]

In [9]:
cleanerdata2.head()

    origin destination                        day callsign
22    KLAX        KORD  2019-11-01 00:00:00+00:00   ANA112
99    RCTP        KORD  2019-11-01 00:00:00+00:00   EVA056
118    NaN        KORD  2019-11-01 00:00:00+00:00     THY5
191   EKCH        KORD  2019-11-01 00:00:00+00:00   SAS943
249   EDDM        KORD  2019-11-01 00:00:00+00:00    DLH2C

In [10]:
cleandata3 = data3[["origin", "destination", "day", "callsign"]]
cleanerdata3 = cleandata3.loc[(cleandata3["destination"] == "KMDW") | (cleandata3["destination"] == "KORD")]

In [11]:
cleanerdata3.head()

    origin destination                        day callsign
142    NaN        KORD  2019-12-01 00:00:00+00:00   UAL836
221   EKCH        KORD  2019-12-01 00:00:00+00:00   SAS943
245   EDDM        KORD  2019-12-01 00:00:00+00:00    DLH2C
315   EDDF        KORD  2019-12-01 00:00:00+00:00   DLH432
330   EDDF        KORD  2019-12-01 00:00:00+00:00   BOX414

In [12]:
cleandata4 = data4[["origin", "destination", "day", "callsign"]]
cleanerdata4 = cleandata4.loc[(cleandata4["destination"] == "KMDW") | (cleandata4["destination"] == "KORD")]

In [13]:
cleanerdata4.head()

    origin destination                        day callsign
91    RCTP        KORD  2020-01-01 00:00:00+00:00   EVA056
266   UUEE        KORD  2020-01-01 00:00:00+00:00   ABW201
275   EGLL        KORD  2020-01-01 00:00:00+00:00   BAW297
309   EPWA        KORD  2020-01-01 00:00:00+00:00     LOT3
478   VTBS        KORD  2020-01-01 00:00:00+00:00   RJA263

In [14]:
cleandata5 = data5[["origin", "destination", "day", "callsign"]]
cleanerdata5 = cleandata5.loc[(cleandata5["destination"] == "KMDW") | (cleandata5["destination"] == "KORD")]

In [15]:
cleandata6 = data6[["origin", "destination", "day", "callsign"]]
cleanerdata6 = cleandata6.loc[(cleandata6["destination"] == "KMDW") | (cleandata6["destination"] == "KORD")]
cleandata7 = data7[["origin", "destination", "day", "callsign"]]
cleanerdata7 = cleandata7.loc[(cleandata7["destination"] == "KMDW") | (cleandata7["destination"] == "KORD")]
cleandata8 = data8[["origin", "destination", "day", "callsign"]]
cleanerdata8 = cleandata8.loc[(cleandata8["destination"] == "KMDW") | (cleandata8["destination"] == "KORD")]
cleandata9 = data9[["origin", "destination", "day", "callsign"]]
cleanerdata9 = cleandata9.loc[(cleandata9["destination"] == "KMDW") | (cleandata9["destination"] == "KORD")]
cleandata10 = data10[["origin", "destination", "day", "callsign"]]
cleanerdata10 = cleandata10.loc[(cleandata10["destination"] == "KMDW") | (cleandata10["destination"] == "KORD")]
cleandata11 = data11[["origin", "destination", "day", "callsign"]]
cleanerdata11 = cleandata11.loc[(cleandata11["destination"] == "KMDW") | (cleandata11["destination"] == "KORD")]
cleandata12 = data12[["origin", "destination", "day", "callsign"]]
cleanerdata12 = cleandata12.loc[(cleandata12["destination"] == "KMDW") | (cleandata12["destination"] == "KORD")]
cleandata13 = data13[["origin", "destination", "day", "callsign"]]
cleanerdata13 = cleandata13.loc[(cleandata13["destination"] == "KMDW") | (cleandata13["destination"] == "KORD")]
cleandata14 = data14[["origin", "destination", "day", "callsign"]]
cleanerdata14 = cleandata14.loc[(cleandata14["destination"] == "KMDW") | (cleandata14["destination"] == "KORD")]
cleandata15 = data15[["origin", "destination", "day", "callsign"]]
cleanerdata15 = cleandata15.loc[(cleandata15["destination"] == "KMDW") | (cleandata15["destination"] == "KORD")]

In [16]:
cleanerdata15.head()

   origin destination                        day callsign
30   RCTP        KORD  2020-12-01 00:00:00+00:00  CAL5234
35   RCTP        KORD  2020-12-01 00:00:00+00:00   EVA056
68    NaN        KORD  2020-12-01 00:00:00+00:00  UAL2818
78   KORD        KORD  2020-12-01 00:00:00+00:00   AAL317
86   EKCH        KORD  2020-12-01 00:00:00+00:00   SAS943

In [17]:
concat_df = pd.concat([cleanerdata1, cleanerdata2, cleanerdata3, cleanerdata4, cleanerdata5, cleanerdata6, cleanerdata7, 
                       cleanerdata8, cleanerdata9, cleanerdata10, cleanerdata11, cleanerdata12, cleanerdata13, 
                       cleanerdata14, cleanerdata15], ignore_index=True)
concat_df.head()

  origin destination                        day callsign
0   ZGSZ        KORD  2019-10-01 00:00:00+00:00   CHH705
1   LFPG        KORD  2019-10-01 00:00:00+00:00   AFR136
2   EDDF        KORD  2019-10-01 00:00:00+00:00   DLH432
3    NaN        KORD  2019-10-01 00:00:00+00:00   AZG788
4   EGLL        KORD  2019-10-01 00:00:00+00:00   BAW297

In [18]:
concat_df.to_csv('Resources/Flightlist_Concat.csv')